<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jlptcommunity">
    <!-- TTS 사용시 안드로이드 타겟팅 수치가 30이상일 경우 적용해줘야 TTS 사용이 가능하다 -->
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".sharedpreferences.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JLPTCommunity">
        <activity
            android:name=".CommunityActivity"
            android:exported="false" />
        <activity
            android:name=".UserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".SettingActivity"
            android:exported="false" />
        <activity
            android:name=".LogoActivity"
            android:exported="true">

            <!-- 실험 후 반드시 코드 이곳으로 옮길것! -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- 실험 후 반드시 코드 이곳으로 옮길것! -->
        </activity>
        <activity
            android:name=".TranslateActivity"
            android:exported="false" />
        <activity
            android:name=".StudyWordsActivity"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name=".SelectDayActivity"
            android:exported="false" />
        <activity
            android:name=".SelectStudyOrTestActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>